<launch> 
  <arg name="record" default="false"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find naivik_robot)/world/customWorld"/>
  </include>

  <node
    pkg="rviz"
    name="rviz"
    type="rviz"
    args="-d $(find naivik_robot)/rviz/naivik_rviz_demo.rviz"
  />

  <node
    pkg="naivik_robot"
    name="naivik_robot_node"
    type="naivik_robot_node"
    output="screen"
  />
  
  <node
    pkg="rosbag"
    name="record"
    type="record"
    args="--duration=90.0 -a -x /camera/(.*) -O $(find naivik_robot)/demo/v0.1.bag"
    if="$(arg record)"
  />
</launch>